<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar>
		<ion-title>Profile</ion-title>
		<ion-buttons end>
			<button ion-button icon-only (click)="logOut()">
				<ion-icon name="log-out"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>


<ion-content padding>
	<ion-list>
		<ion-list-header>
		Personal Information
	</ion-list-header>
	<ion-item (click)="updateName()">
		<ion-grid>
			<ion-row>
				<ion-col col-6> Name </ion-col>
				<ion-col col-6 *ngIf="userProfile?.name">
				{{userProfile?.name}}
			</ion-col>
			<ion-col col-6 class="placeholder-profile" *ngIf="!userProfile?.name">
				<span> Tap here to edit. </span>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-item>
<ion-item (click)="updatePhonenum()">
	<ion-grid>
		<ion-row>
			<ion-col col-6> Phone number </ion-col>
			<ion-col col-6 *ngIf="userProfile?.phone">
			{{userProfile?.phone}}
		</ion-col>
		<ion-col col-6 class="placeholder-profile" *ngIf="!userProfile?.phone">
			<span> Tap here to edit. </span>
		</ion-col>
	</ion-row>
	</ion-grid>
</ion-item>
<ion-item (click)="updateAddress()">
	<ion-grid>
		<ion-row>
			<ion-col col-6> Delivery Address </ion-col>
			<ion-col col-6 *ngIf="userProfile?.address">
			{{userProfile?.address}}
		</ion-col>
		<ion-col col-6 class="placeholder-profile" *ngIf="!userProfile?.address">
			<span> Tap here to edit. </span>
		</ion-col>
	</ion-row>
	</ion-grid>
</ion-item>
<ion-item (click)="updateEmail()">
	<ion-grid>
		<ion-row>
			<ion-col col-6> Email </ion-col>
			<ion-col col-6 *ngIf="userProfile?.email">
			{{userProfile?.email}}
		</ion-col>
		<ion-col col-6 class="placeholder-profile" *ngIf="!userProfile?.email">
			<span> Tap here to edit. </span>
		</ion-col>
	</ion-row>
	</ion-grid>
</ion-item>
<ion-item (click)="updatePassword()">
	<ion-grid>
		<ion-row>
			<ion-col col-6> Password </ion-col>
			<ion-col col-6 class="placeholder-profile">
				<span> Tap here to edit. </span>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-item>
</ion-list>
</ion-content>
